body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}
.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
div {
    margin: 0;
    box-sizing: border-box;
}
header {
    background: url(img/hederfont.jpg) no-repeat center top / cover;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
}
.logo {
    margin: 0;
    padding: 70px 0 50px 0; 
}
a {
    text-decoration: none;
}
.menu {
    padding: 0;
    margin: 0;
    display: block;
}
.menu li {
    list-style: none;
    display: inline-block;
}
.menu li a {
    color: #fff;
    padding-left: 15px;
}
.menu li a:hover {
    color: blue;
    transition: 0.5s;
}
.good_day_text {
    margin-top: 70px;
    color: #fff;
    font-size: 60px;
}
.theme_text {
    margin-top: 50px;
    color: #fff;
}
.botton_header {
    margin: 70px 0 30px 0;
    border: 0;
    background: #50c3af;
    width: 230px;
    height: 50px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}
.botton_header:hover {
    background-color: blue;
    transition: 1s;
}
.section_one {
    margin: 0;
    padding: 0;
    height: auto;
    background: #eeeeef;
    text-align: center;
}
.icon_content {
    width: 35px;
    height: 30px;
}
.icon_services {
    margin-top: 30px;
    background: cover;
    width: 40px;
    height: 35px;
}
.services_item {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
}
@media (max-width:700px) { 
    .services_item {  
     width: 130px;     
    }   
}
.services_item p {
    color: #888a8f;
    line-height: 1.5;
    font-size: 14px;
}

.services_item:nth-child(2) {
    margin-left: 45px;
    margin-right: 45px; 
}
.section_two {
    margin: 0;
    padding: 0;
    height: auto;
    background: #fff;
    text-align: center;
}
.info_item {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
.info_item:last-child {
    margin-left: 70px;
}
@media (max-width:675px) { 
    .info_item:last-child {
        margin-left: 0;          
    }   
}
.icon_info {
    margin-top: 30px;
    background: cover;
    width: 300px;
    height: 200px;
}
.info_item img {
    border-radius: 5px;
    box-shadow: 0px 0px 11px #1C6EA4;
}
.info_item p {
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: left;
}
.info_item h3 {
    text-align: left;
}
.botton_info {
    border: 0;
    background: #50c3af;
    width: 110px;
    height: 35px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    float: left;
    margin-bottom: 30px;
}
.botton_info:hover {
    background-color: blue;
    transition: 0.5s;
}
.section_three {
    margin: 0;
    padding: 30px 0 30px 0;
    height: auto;
    background: #eeeeef;
    text-align: left;
}
.section_three img {
    float: left;
    margin-right: 15px;
}
.section_three p {
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
}
.section_foure {
    margin: 0;
    padding: 30px 0 30px 0;
    height: auto;
    background: #fff;
    text-align: center;
}
.check_this p {
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.check_this {
    display: inline-block;
    width: 100%;
    max-width: 230px;
    text-align: center;
}
.foto_item {
    border-radius: 5px;
    box-shadow: 0px 0px 11px #1C6EA4;
}
.section_five {
    margin: 0;
    padding: 30px 0 30px 0;
    height: auto;
    background: #eeeeef;
    text-align: center;
}
.send {
    display: inline-block;
    width: 100%;
    max-width: 345px;    
} 
.send img {
    float: left;
}
.send h3 {
    text-align: left;
}
.send p {
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: left;
}
.section_six {
    margin: 0;
    padding: 30px 0 90px 0;
    height: auto;
    background: #fff;
    text-align: center;
}
.press img {
    margin-right: 20px;
    float: left;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 11px #1C6EA4;
}
.press p {
    text-align: left;
    color: #888a8f;
    line-height: 1.5;
}
.press h3 {
    text-align: left;
}
@media (max-width:570px) {
    .press img {
        margin: 0;
        float: none;
        text-align: center;
    }
}
.section_seven {
    border: 0;
    margin: 0;
    padding: 0;
    height: auto;
    background: #50c3af;
    text-align: center;
}
.logo {
    display: inline-block;
    text-align: center;
}
.logo h3 {
    color: #fff;
}
.brend_logo {
    width: 150px;
    height: auto;
    margin-left: 15px;
}
.footer {
    margin: 0;
    padding: 0;
    height: auto;
    background: #fff;
    text-align: center;
}
.copy {
    margin: 15px 0 15px 0;
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    float: left;
    
}
.social {
    margin: 15px 0 15px 0;
    float: right;
}
.social img {
    padding-left: 5px;
    background: cover;
}