body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}
.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
div {
    margin: 0;
    box-sizing: border-box;
}
header {
    background: url(img/hederfont.jpg) no-repeat center top / cover;
    width: 100%;
    height: 800px;
    text-align: center;
    font-weight: bold;
}
.logo {
    margin: 0;
    padding: 70px 0 50px 0; 
}
a {
    text-decoration: none;
}
.menu {
    padding: 0;
    margin: 0;
    display: block;
}
.menu li {
    list-style: none;
    display: inline-block;
}
.menu li a {
    color: #fff;
    padding-left: 15px;
}
.menu li a:hover {
    color: blue;
    transition: 0.5s;
}
.good_day_text {
    margin-top: 70px;
    color: #fff;
    font-size: 60px;
}
.theme_text {
    margin-top: 50px;
    color: #fff;
}
.botton_header {
    margin-top: 70px;
    border: 0;
    background: #50c3af;
    width: 230px;
    height: 50px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}
.botton_header:hover {
    background-color: blue;
    transition: 1s;
}
.section_one {
    margin: 0;
    padding: 0 0 30px 0;
    height: 250px;
    background: #eeeeef;
    text-align: center;
}
.icon_content {
    width: 35px;
    height: 30px;
}
.icon_services {
    margin-top: 30px;
    background: cover;
    width: 40px;
    height: 35px;
}
.services_item {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
}
@media (max-width:700px) { 
    .services_item {  
     width: 130px;     
    }   
}
.services_item p {
    color: #888a8f;
    line-height: 1.5;
    font-size: 14px;
}

.services_item:nth-child(2) {
    margin-left: 45px;
    margin-right: 45px; 
}
.section_two {
    margin: 0;
    padding: 30px 0 30px 0;
    height: 400px;
    background: #fff;
}
.info_content {
    width: 260px;
    text-align: left;
    float: left;
}
.info_content:last-child {
    float: right;
}
.info_content p {
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.botton_info {
    border: 0;
    background: #50c3af;
    width: 110px;
    height: 35px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}
.botton_info:hover {
    background-color: blue;
    transition: 0.5s;
}
.section_three {
    margin: 0;
    padding: 30px 0 30px 0;
    height: 270px;
    background: #eeeeef; 
}
@media (max-width: 600px) { 
    .section_three  {
     height: 400px;
    }
}
.content_three {
    margin-top: 30px;
    float: left;
    width: 100%;
}
.content_three span {
    margin-top: 0;
    margin-left: 10px;
    font-weight: bold;
}
.content_three p {
    width: 100%;
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.section_four {
    margin: 0;
    padding: 0;
    height: 350px;
    background: #fff;
}
.foto_item {
    margin-top: 30px;
    width: 230px;
    text-align: center;
    float: left;
}
.foto_item p {
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.foto {
    border-radius: 5px;
}
.section_five {
    margin: 0;
    padding: 0;
    height: 230px;
    background: #eeeeef;
}
.send_info {
    margin-top: 30px;
    float: left;
    width: 300px;
}
.send_info:last-child {
    float: right;
}
.send_info span {
    margin-left: 20px;
    font-weight: bold;
}
.send_info p {
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.section_six {
    margin: 0;
    padding: 0;
    height: 250px;
    background: #fff;
}
.press {
    margin-top: 30px;
}
.press img {
    float: left;
}
.text_press span {
    margin-left: 30px;
    font-weight: bold;
}
.text_press p {
    margin-top: 30px;
    margin-left: 290px;
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px; 
}
.button_info,
.button_press {
    margin-top: 30px;
    margin-left: 30px;
}
.section_seven {
    margin: 0;
    padding: 0;
    height: 200px;
    background: #50c3af;
}
.info_brend {
    padding: 50px;
    text-align: center;
}
.info_brend span {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
}
.brend_logo img {
    width: 170px;
    height: 40px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.brend_logo:last-child {
    float: right;
}
footer {
    margin: 0;
    padding: 0;
    height: 70px;
    background: #fff;
}
.copy {
    margin-top: 30px;
    float: lefts;
    color: #888a8f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.copy a {
    margin: 5px;
}
.copy a:first-child {
    margin-left: 330px;
}
.social_logo {
    width: 15px;
    height: 15px;  
}